<a href="https://colab.research.google.com/github/flo-tech/Database/blob/main/Midterm-colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from sqlalchemy import create_engine
my_conn = create_engine("sqlite:///ITS_db.db")

In [6]:
from sqlalchemy.sql import text
import time
import sqlparse

conn = my_conn.connect()

with open("creation_table.sql") as file:
    query = file.read()
    sql_queries = sqlparse.split(
        sqlparse.format(query, strip_comments=True)
    )
    for string in sql_queries:
        conn.execute(string)

ERROR:sqlalchemy.pool.impl.NullPool:Exception during reset or similar
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 753, in _finalize_fairy
    fairy._reset(pool)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 1004, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140119936575360 and this is thread id 140119505651456.
ERROR:sqlalchemy.pool.impl.NullPool:Exception closing connection <sqlite3.Connection object at 0x7f701c14e490>
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 753, in _finalize_fairy
    fairy._reset(pool)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 1004, in _reset
    pool._dialect.do_rollback(self)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 683, in do_rollback
    dbapi_connection.rollback()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140119936575360 and this is thread id 140119505651456.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/pool/base.py", line 255, in _close_connection
    self._dialect.do_terminate(connection)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 689, in do_terminate
    self.do_close(dbapi_connection)
  File "/usr/local/lib/python3.7/dist-packages/sqlalchemy/engine/default.py", line 692, in do_close
    dbapi_connection.close()
sqlite3.ProgrammingError: SQLite objects created in a thread can only be used in that same thread. The object was created in thread id 140119936575360 and this is thread id 140119505651456.

In [7]:
with open("insert_data.sql") as file:
    query = file.read()
    sql_queries = sqlparse.split(
        sqlparse.format(query, strip_comments=True)
    )
    for string in sql_queries:
        conn.execute(string)

In [8]:
r_set=my_conn.execute('''SELECT * FROM Vehicle;''')
for row in r_set:
    print(row)

(1, 'Blue', 'K7', 4, 1209, 'Kia', 1, '2020 DCF', 1)
(2, 'White', 'model 3', 4, 304, 'Tesla', 1, '2021 AHR', 2)
(3, 'Orange', 'capture', 4, 842, 'renault', 0, '2022 AFC', 3)

In [9]:
r_set=my_conn.execute('''SELECT * FROM Maintenance;''')
for row in r_set:
    print(row)

(1, 'M', '2022-07-18', 'Car review', 150000, 3)

In [10]:
r_set=my_conn.execute('''SELECT * FROM Language;''')
for row in r_set:
    print(row)

('FR', 1)
('KR', 2)
('EN', 3)

In [11]:
r_set=my_conn.execute('''SELECT * FROM Country;''')
for row in r_set:
    print(row)

(1, 'Korea', 2)
(2, 'USA', 3)
(3, 'France', 1)

In [12]:
r_set=my_conn.execute('''SELECT * FROM City;''')
for row in r_set:
    print(row)

(1, 'Seoul', 1)
(2, 'Incheon', 1)

In [13]:
r_set=my_conn.execute('''SELECT * FROM Location;''')
for row in r_set:
    print(row)

(1, 'address Hotel', 204, 'Hotel', 2)
(2, 'address Hotel2', 505, 'Hotel2', 1)
(3, 'address airport', 104, 'Airport', 2)
(4, 'address Aquatic Center', 104, 'Aquatic Center', 2)

In [14]:
r_set=my_conn.execute('''SELECT * FROM Trip;''')
for row in r_set:
    print(row)

(1, '2022-07-18 15:12:48', '2022-07-18 16:07:24', 304, 324, 3, 1)

In [15]:
r_set=my_conn.execute('''SELECT * FROM Driver;''')
for row in r_set:
    print(row)

(1, 'kim Soyeon', '200324581245860429', 1, None, None, None, None, None, 2)
(2, 'Smith Sam', '200324581245860429', 1, None, None, None, None, None, 3)
(3, 'Lee Jimin', '200324581245860429', 1, None, None, None, None, None, 2)

In [16]:
r_set=my_conn.execute('''SELECT * FROM Game_official;''')
for row in r_set:
    print(row)

(1, 'Yeon Ki-yeon', 'coach', 2, 1, 13)
(2, 'Harry Eden', 'judge', 3, 2, 7)

In [17]:
# Get New Id for Booking
from unittest import result

r_set=my_conn.execute('''SELECT max("Id") FROM Booking;''')
id = 0
max_id_booking = r_set.first()[0]

if max_id_booking == None:
    id = 1
else:
    id = max_id_booking + 1

# Set Booking reference number
number = 854

# Set the game official who use ITS's services
r_set=my_conn.execute('''SELECT * FROM Game_official WHERE name = "Harry Eden";''')
game_official_data = r_set.first()
game_official_language_id = game_official_data['Language_Id']
game_official_data_id = game_official_data['Id']

# Get Id of the Trip
r_set=my_conn.execute('''SELECT max("Id") FROM Trip;''')
max_id_trip = r_set.first()[0]

# Get a Vehicule Id
r_set=my_conn.execute('''SELECT * from [Vehicle] where available = 1;''')

# Find driver who speak the same language as the game official
for row in r_set:
    vehicle_id = row['Id']
    Driver_Id = row['Driver_Id']
    result_driver=my_conn.execute('''SELECT * from [Driver] where Id =''' + str(Driver_Id) + ';')
    Driver_data = result_driver.first()
    if Driver_data['Language_Id'] == game_official_language_id:
        break

# add available column to the driver table

# Create row in table Booking
r_set=my_conn.execute('''INSERT INTO [Booking] VALUES
    (
        (SELECT max("Id") FROM [Booking])+ 1,
        '''+ str(number) +''',
        (SELECT max("Id") FROM [Trip]),
        '''+ str(vehicle_id) +''',
        '''+ str(Driver_Id) +''',
        '''+ str(game_official_data_id) +'''
    );''')

In [18]:
r_set=my_conn.execute('''UPDATE Vehicle
    SET available = 0
    Where Id = '''+ str(vehicle_id) +'''
    ;''')
r_set=my_conn.execute('''SELECT * FROM Vehicle;''')
for row in r_set:
    print(row)

(1, 'Blue', 'K7', 4, 1209, 'Kia', 1, '2020 DCF', 1)
(2, 'White', 'model 3', 4, 304, 'Tesla', 0, '2021 AHR', 2)
(3, 'Orange', 'capture', 4, 842, 'renault', 0, '2022 AFC', 3)

In [19]:
r_set=my_conn.execute('''SELECT * FROM Booking;''')
for row in r_set:
    print(row)

(1, 854, 1, 2, 2, 2)